
/*-------------Global--------------*/

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  width: 100%;
}

/* ----- Font ----- */

h1 {
  color: #7D6693;
  font-family: "Limelight";
  font-size: 4rem;
  line-height: 4.5rem;
}

h2 {
  color: #7D6693;
  font-family: "Limelight";
  font-size: 2.5rem;
  letter-spacing: .5px;
}

h3 {
  color: #2B3744;
  font-family: "Limelight";
  font-size: 1.8rem;
  letter-spacing: .5px;
  padding-top: 1rem;
}

p {
  color: #2B3744;
  font-family: "Raleway";
  font-size: 1.5rem;
  line-height: 130%;
}

li {
  color: #2B3744;
  font-family: "Raleway";
  font-size: 1.5rem;
  line-height: 130%;
}

a {
  color: #7D6693;
  margin-top: 1.5rem;
}

a:hover {
  color: #AFC9E0;
}

/* ----- Buttons ----- */

.purple-button {
  background-color: white;
  border: 2px solid #7D6693;
  border-radius: 30px;
  color: #7D6693;
  display: inline-block;
  font-family: "Raleway";
  font-size: 1.5rem;
  padding: 15px 32px;
  margin-top: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.purple-button:hover {
  background-color: #7D6693;
  color: white;
}

.white-button {
  background-color: #fff;
  border-radius: 30px;
  color: #2B3744;
  border: 2px solid #2B3744;
  display: inline-block;
  font-family: "Raleway";
  font-size: 1.5rem;
  margin-top: 1.5rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.white-button:hover {
  background-color: #2B3744;
  color: #fff;
}

.gray-button {
  background-color: #2B3744;
  border-radius: 30px;
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
  font-family: "Raleway";
  font-size: 1.5rem;
  margin-top: 1.5rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.gray-button:hover {
  background-color: #fff;
  color: #2B3744;
}
/* ----- Nav ----- */

.logo {
  height: 55px;
  margin-left: 2rem;
  margin-top: 2rem;
  width: 55px;
}

/*---hamburger---*/

.container {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin-right: 2rem;
  margin-top: 3.3rem;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #2B3744;
  margin: 6px 0;
  opacity: 75%;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-7px, -4px);
}
.header-container {
  width: 100%;
}
/*---End hamburger---*/

.navbar {
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 2rem;
}

.navbar #myLinks {
  display: none;
}

.change + #myLinks {
  display: block;
}

.navbar a {
  font-size: 2.5rem;
  text-decoration: none;
  line-height: 140%;
}

#myLinks {
  display: inline;
  float: right;
  font-family: "Raleway";
  margin-right: 5rem;
  /* margin-top: 2rem; */
  padding: .5rem;
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #F8F7F7;
  opacity: 95%;
  text-align: center;
  padding-top: 50%;
}

.change .bar1 .bar3 {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

footer {
  padding: 2rem;
  text-align: center;
}

.footer-linker:hover {
  color: #AFC9E0;
}

footer a {
  color: #7D6693;
  text-decoration: none;
}

.fa {
    padding: .5rem;
    padding-bottom: 1.5em;
    text-decoration: none;
}

/* ----- Home Page ----- */

section {
  max-width: 100%;
}

.sections {
  padding: 2rem;
}

/* .main-container {
  padding: 2rem;
} */

/* .profile-photo {
  width: 50%;
} */

#hero-unit {
  margin-bottom: 6rem;
  margin-top: 6rem;
  max-width: 80%;
}

#hero-unit p {
  margin-top: 1.5rem;
}

#recent-portfolio {
  background-color: #2B3744;
}

#recent-portfolio p {
  color: #fff;
}
#recent-portfolio h3 {
  color: #fff;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.recent-portfolioL {
  margin-top: 5rem;
  text-align: center;
}

.recent-portfolioR {
  margin-bottom: 5rem;
  margin-top: 1.5rem;
}

.svd-logo {
  width: 70px;
}

.web-mobile-prototypes {
  padding: 1.5rem;
  width: 100%;
}

/* ----- Case Study ----- */

.work {
  max-width: 100%;
}

.work h3, h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.work h2 {
  text-align: center;
}

#casestudy-header {
  margin-bottom: 5rem;
  text-align: center;
}

#casestudy-details {
  background-color: #2B3744;
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

#casestudy-details h2, li {
  color: #fff;
}

#casestudy-details h2 {
  margin-top: 1.5rem;
}

#casestudy-breifing {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

#casestudy-breifing h2 {
  text-align: left;
}

#discovery-research {
  padding-top: 5rem;
}

#prototype-testing {
  padding-bottom: 5rem;
}

#discovery-research, #information-architecture, #visual-design, #prototype-testing {
  background-color: #F8F7F7;
}

.desktop-iterations, .mobile-iterations {
  text-align: center;
}

#conclusion {
  background-color: #2B3744;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

#conclusion p {
  color: #fff;
}

#conclusion h2 {
  color: #fff;
  text-align: left;
}

.conclusionR {
  text-align: center;
}

/* ----- Casestudy images ----- */

.survey-imgs {
  padding: 2rem;
  width: 100%;
}

.competitive-analyis-imgs {
  padding: 2rem;
  width: 100%;
}

.persona-imgs {
  padding: 2rem;
  width: 100%;
}

.user-stories-img {
  padding: 2rem;
  width: 100%;
}

.user-flow-imgs {
  padding: 2rem;
  width: 100%;
}

.wireframe-imgs {
  padding: 2rem;
  width: 100%;
}

.digital-wireframe-imgs {
  padding: 2rem;
  width: 100%;
}

.color-palette-img {
  padding: 2rem;
  width: 100%;
}

.style-guide-img {
  padding: 2rem;
  width: 100%;
}

.logo-sketches-img {
  padding: 2rem;
  width: 100%;
}

.logo-imgs {
  padding: 2rem;
  width: 100%;
}

.desktop-iteration-imgs {
  padding: 2rem;
  width: 100%;
}

.mobile-iteration-imgs {
  padding: 2rem;
  width: 100%;
}


/* ----- About Me ----- */

.about-me {
  max-width: 100%;
  background-color: #F8F7F7;
}

.bio-photo {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}

.pull-quote {
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}

#bio h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* ------------- IPAD -------------- */

@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  .logo {
    height: 75px;
    padding: .5rem;
    width: 75px;
  }

  .hero-unit {
    max-width: 100%;
  }
  .profile-photo {
    padding: 1.5rem;
    width: 15%;
  }

  .hero-unitR {
    padding: 1.5rem;
    padding-top: 0;
  }

  .hero-unitR p {
    margin-top: 1rem;
  }

  .hero-unitR {
    margin-top: 1rem;
    max-width: 60%;
  }

  .recent-portfolio {
    background-color: #2B3744;
    max-width: 50%;
  }

  .recent-portfolio p {
    color: #fff;
  }

  .recent-portfolioL{
    max-width: 60%;
    padding: 1.5rem;
  }

  .web-mobile-prototypes {
    padding: 2rem;
    width: 100%;
  }

  /* ----- Case Study ----- */

  .work{
    max-width: 100%;
  }

  .casestudy-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ------------- DESKTOP -------------- */

@media screen and (min-width: 1025px) {
  body {
    width: 100%;
  }

  .logo {
    height: 75px;
    padding: .5rem;
    width: 75px;
  }

  .hero-unit {
    max-width: 100%;
  }
  .profile-photo {
    padding: 1.5rem;
    width: 20%;
  }

  .hero-unitR {
    padding: 1.5rem;
    padding-top: 0;
  }

  .hero-unitR p {
    margin-top: 1rem;
  }

  .recent-portfolio {
    background-color: #2B3744;
    max-width: 100%;
  }

  .recent-portfolio p {
    color: #fff;
  }

  .recent-portfolioL{
    padding: 1.5rem;
  }

  .web-mobile-prototypes {
    padding: 2rem;
    width: 50%;
  }

  /* ----- Case Study ----- */
  .work{
    max-width: 100%;
  }

  .casestudy-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
