
/* ------------- Global -------------- */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  width: 100% auto;
}

/* Font */

h1 {
  font-size: 3rem;
  color: #7D6693;
  font-family: "Limelight";
}

h2 {
  font-size: 2rem;
  color: #7D6693;
  font-family: "Limelight";
}

h3 {
  font-size: 1.5rem;
  color: #2B3744;
  font-family: "Limelight";
}

p {
  font-size: 1.5rem;
  color: #2B3744;
  font-family: "Raleway";
}

li {
  font-size: 1.5rem;
  color: #2B3744;
  font-family: "Raleway";
}

a:hover {
  color: #AFC9E0;
}

/* Buttons */

.purple-button {
  background-color: white;
  color: #7D6693;
  border: 2px solid #7D6693;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Raleway";
  border-radius: 30px;
  margin-top: 1.5rem;
}

.purple-button:hover {
  background-color: #7D6693;
  color: white;
}

.white-button {
  background-color: #fff;
  color: #2B3744;
  border: 2px solid #2B3744;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Raleway";
  border-radius: 30px;
  margin-top: 1.5rem;
}

.white-button:hover {
  background-color: #2B3744;
  color: #fff;
}

.gray-button {
  background-color: #2B3744;
  color: #fff;
  border: 2px solid #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Raleway";
  border-radius: 30px;
  margin-top: 1.5rem;
}

.gray-button:hover {
  background-color: #fff;
  color: #2B3744;
}
/* ------------- Nav -------------- */

.header-container {
  width: 100%;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  /* width: 100%; */
  /* position: relative; */
}

.navbar #myLinks {
  display: none;
}

.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /* display: block; */
}

.navbar a.hamburger {
  background-color: black;
}

ul {
  list-style-type: none
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

.hamburger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  color: black;
  display: inline;
  float: right;
}

#myLinks {
  display: inline;
  padding: .5rem;
  margin-top: 2rem;
  margin-right: 5rem;
  float: right;
  color: #2B3744;
  font-family: "Raleway";
}

li a:hover {
  color: #7D6693;
}

.logo {
  width: 55px;
  height: 55px;
  padding: .5rem;
}

footer {
  text-align: center;
  padding: 2rem;
}

.footer-links {
  padding-top: 1rem;
}

footer a {
  color: #7D6693;
}

.fa-linkedin-square, .fa-github-square, .fa-envelope-square {
width: 75px;
}
/* ------------- Home Page -------------- */

section {
  max-width: 100%;
}

.sections {
  padding: 1.5rem;
}

.profile-photo {
  width: 50%;
}

.hero-unitR p {
  margin-top: 1rem;
}

.hero-unitR {
  margin-top: 1rem;
  max-width: 90%;
}

#recent-portfolio {
  background-color: #2B3744;
}

#recent-portfolio p {
  color: #fff;
}

.svd-logo {
  width: 70px;
}

.web-mobile-prototypes {
  width: 100%;
  padding: 1.5rem;
}

/* ------------- Case Study -------------- */
.work {
  max-width: 100%;
}

.work h3, h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.work h2 {
  text-align: center;
}

#casestudy-header {
  text-align: center;
}

#casestudy-details {
  background-color: #2B3744;
  text-align: center;
}

#casestudy-details h2, li {
  color: #fff;
}

#casestudy-breifing h2 {
  text-align: left;
}

#discovery-research, #information-architecture, #visual-design, #prototype-testing {
  background-color: #F8F7F7;
}

.desktop-iterations, .mobile-iterations {
  text-align: center;
}

#conclusion {
  background-color: #2B3744;
}

#conclusion p {
  color: #fff;
}

#conclusion h2 {
  color: #fff;
}

/*
.competitive-analysis {
  background-color: #F8F7F7;
}

#casestudy-breifing {
  background-color: #F8F7F7;
} */

/* #casestudy-header {
  display: block;
  margin-left: : auto;
  margin-right: auto;
} */

/* Casestudy images */

.survey-imgs {
  width: 100%;
  padding: 2rem;
}

.competitive-analyis-imgs {
  width: 100%;
  padding: 2rem;
}

.persona-imgs {
  width: 100%;
  padding: 2rem;
}

.user-stories-img {
  width: 100%;
  padding: 2rem;
}

.user-flow-imgs {
  width: 100%;
  padding: 2rem;
}

.wireframe-imgs {
  width: 100%;
  padding: 2rem;
}

.digital-wireframe-imgs {
  width: 100%;
  padding: 2rem;
}

.color-palette-img {
  width: 100%;
  padding: 2rem;
}

.style-guide-img {
  width: 100%;
  padding: 2rem;
}

.logo-sketches-img {
  width: 100%;
  padding: 2rem;
}

.logo-imgs {
  width: 100%;
  padding: 2rem;
}

.desktop-iteration-imgs {
  width: 100%;
  padding: 2rem;
}

.mobile-iteration-imgs {
  width: 60%;
  padding: 2rem;
}


/* ------------- About Me -------------- */
.about-me {
  max-width: 100%;
}
.bio-photo {
  width: 100%;
}

.pull-quote {
  width: 100%;
  padding: 1.5rem;
}

#bio h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* .hero-unitR {
  padding: 1.5rem;
  padding-top: 0;
}


.bio-photo {
  width: 100%;
  margin: 0 auto;
  height: auto;  /*-- NEED TO CHANGE FOR MOBILE --*/


@media screen and (min-width: 768px) /*Desktop*/ {

  body {
    width: 100% auto;
  }

  .logo {
    width: 75px;
    height: 75px;
    padding: .5rem;
  }

  .hero-unit {
    max-width: 100%;
  }
  .profile-photo {
    width: 15%;
    padding: 1.5rem;
  }

  .hero-unitR {
    padding: 1.5rem;
    padding-top: 0;
  }

  .hero-unitR p {
    margin-top: 1rem;
  }

  .hero-unitR {
    margin-top: 1rem;
    max-width: 60%;
  }

  .recent-portfolio {
    max-width: 50%;
    background-color: #2B3744;
  }

  .recent-portfolio p {
    color: #fff;
  }

  .recent-portfolioL{
    padding: 1.5rem;
    max-width: 60%;
  }

  .web-mobile-prototypes {
    width: 100%;
    padding: 2rem;
  }

  /* ------------- Case Study -------------- */
  .work{
    max-width: 100%;
  }

  .casestudy-header {
    display: block;
    margin-left: : auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1025px) /*Desktop*/ {

    body {
      width: 100% auto;
    }

    .logo {
      width: 75px;
      height: 75px;
      padding: .5rem;
    }

    .hero-unit {
      max-width: 100%;
    }
    .profile-photo {
      width: 20%;
      padding: 1.5rem;
    }

    .hero-unitR {
      padding: 1.5rem;
      padding-top: 0;
    }

    .hero-unitR p {
      margin-top: 1rem;
    }

    .recent-portfolio {
      max-width: 100%;
      background-color: #2B3744;
    }

    .recent-portfolio p {
      color: #fff;
    }

    .recent-portfolioL{
      padding: 1.5rem;
    }

    .web-mobile-prototypes {
      width: 50%;
      padding: 2rem;
    }

    /* ------------- Case Study -------------- */
    .work{
      max-width: 100%;
    }

    .casestudy-header {
      display: block;
      margin-left: : auto;
      margin-right: auto;
    }
  }
